.p-2.row: .col-md-8.offset-md-2
  markdown:
    ## Label Printing Has Been Moved.

    The expiration dates given on box labels is now dependent upon the production and shipping dates.

    This means that labels can no longer be printed generically and they must be printed from the page for a given batch.

    Please [choose a batch](/batches) and click on the appropriate buttons there in order to print labels.

    If the number of pouches produced has been correctly inputted, you will be given an appropriate number of labels to print.
