// Place all the styles related to the Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#batch_notes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
