// Place all the styles related to the shipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shipping_preparations .collapse > .card {
  min-height: 550px;
  @include media-breakpoint-down(sm) {
    min-height: 475px;
  }
  @include media-breakpoint-down(xs) {
    min-height: 400px;
  }
}
